*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    /* font-family: 'Sofia Sans Condensed', sans-serif; */
    
}
body{
    width: 100vw;
    height: 100vh;   
    
}
main {

    height: 88vh;
    width: 100vw;

}
/* ESTILO BARRA DE NAVEGACION */
header{
    width: 100vw;
    height: 7vh;
    background-color: #8cc63e;
    font-family: 'Sofia Sans Condensed', sans-serif;
}
nav{
    width: 98%;
    height: 100%;
    margin: 0 1%;
    display: flex;
    flex-direction: row;
    align-items: center;
    color: rgb(243, 232, 219);
}
nav img{
    
    width:50%;
    height: 85%;
    margin-left: 5%;
}
.logo{
    width:30%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}
nav ul{
    width: 70%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
   
}

nav a{
    text-decoration: none;
    color: black;
}
nav li :hover{
    background-color: rgb(243, 232, 219);
    border-radius: 8%;
}
nav li { 
    display: inline-flex;
    padding: 1%;    
    font-size: 1.5em;
    font-weight:300;
} 

/* ESTILO CUERPO */
main{
    font-family: 'PT Sans', sans-serif;
    background-color: rgb(230, 218, 218);
}
.imagenes{    
    width: 100vw;
    height: 68vh;
    display: inline-flex;
    background-image: url(../multimedia/img/portada.webp);
    background-position: left;
    background-size: cover;
}
.texto{
    
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    /* background-color: rgb(230, 218, 218); */
    /* margin:.5% .5%; */
    /* margin-left:  5px;
    margin-right: 5px;
    margin-bottom: 5px;  */
    /* border: 5px solid black; */
    text-align: justify;
     padding: 7px;
     line-height: 4vh; 
    /* font-weight:600; */
   
}
span{
    display: none;
}
footer{
    position: absolute;
    width: 100vw;
    height: 5vh;
    background-color:  #8cc63e;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    column-gap: 3%;
    
   }
footer>a{
    font-size: 1.3em;
    color:rgba(243, 232, 219, 0.9);
    text-shadow: -5px 1px 2px rgba(0,0,0,0.27);

}

/* RESPONSIVE */
@media screen and (min-width:1361px) {
    .texto{
  
        font-size: 22px;
        margin: 10px;    
    }
}

@media screen and (min-width:640px) and (max-width:1279px){
nav li{
    font-size: 1em;
}
footer>a{
    font-size: 1em;
    
}
.imagenes{    

    height: 65vh;
}
.texto{
  
    font-size: 9px;
    padding: 4px;


}
}

@media screen and (min-width:390px) and (max-width:639px){
    header{
        
        height: 14vh;
     }
     main{
        height: auto;
     }
     nav{
        position: relative;
        display: flex;
        flex-direction: column;
     }
     .logo{
        position: absolute;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 40%;
        top: 2vh;

     }
     nav ul{
        position: absolute;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        margin: 0px;
        top: 3vh;
     }
nav li{
    font-size: 1em;
    padding: 1vh;


}
     .imagenes{
        height: 18vh;
     }
     .texto{
  
        font-size: 16px;
        margin: 3px;
    
    
    }
}
@media screen and (max-width:389px) {
  
header{
     flex-direction: column;
     height: 60vh;
     width: 100%;
    }
    nav{
     flex-direction: column;
     justify-content: center;
    }
 nav ul{
     flex-direction: column;
 }
 .logo{
     flex-direction: row;
     width: 80%;
     height: 20%;
  
 }
 main{
     height: 15vh;
     display:none;
     width: 100%;
    }
    footer{
     height: 5vh;
     width: 100%;
    }
  span{
    background-color: rgba(233, 12, 12, 0.61);
    color:white;
    visibility: visible;
    display:flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    height: 20vh;
    text-align: center;
    font-family: 'Sofia Sans Condensed', sans-serif;
  }
 } 