* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    /* font-family: 'Bree Serif', serif; */
   
}

body {
    width: 100%;
    height: 100%;
  
}

/* ESTILO BARRA DE NAVEGACION */
header{
    width: 100vw;
    height: 7vh;
    background-color: #8cc63e;
    font-family: 'Sofia Sans Condensed', sans-serif;
}
nav{
    width: 98%;
    height: 100%;
    margin: 0 1%;
    display: flex;
    flex-direction: row;
    align-items: center;
    color: rgb(243, 232, 219);
}
nav img{
    width:50%;
    height: 85%;
    margin-left: 5%;
}
.logo{
    width:30%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}
nav ul{
    width: 70%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
}

nav a{
    text-decoration: none;
    color: black;
}
nav li :hover{
    background-color: rgb(243, 232, 219);
    border-radius: 8%;
}
nav li { 
    display: inline-flex;
    padding: 1%;    
    font-size: 1.5em;
    font-weight:300;
} 

/* ESTILO DEL CUERPO */
main {

    height: 88vh;
    width: 100vw;

}

section {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: rgb(243, 232, 219);
}

.imagen {
    width: 40%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: right;

}

.formulario {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 30%;
    font-size: medium;
    text-align: center;
}

form {
    width: 100%;
    max-height: 100%;
}

.label {
    width: 10%;
}

input,
textarea {
    width: 80%;
}

.input-form {
    width: 100%;
    display: flex;
    flex-direction: row;
    margin: 1%;
}

button {
    text-align: center;
    background-color: rgb(243, 232, 219);
    width: 80px;
    height: 30px;
    border-radius: 10px;
    border: 1px solid black;

}

form button:hover {
    background-color: #8cc63e;
} 

footer {
    width: 100vw;
    height: 5vh;
    background-color: #8cc63e;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    column-gap: 3%;
    
}
footer>a{
    font-size: 1.3em;
    color:rgba(243, 232, 219, 0.9);
    text-shadow: -5px 1px 2px rgba(0,0,0,0.27);

}

