* {
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
     
}

body {
    width: 100vw;
    height: 100vh;
    
}
/* ESTILO BARRA DE NAVEGACION */
header{
    width: 100vw;
    height: 7vh;
    background-color: #8cc63e;
    font-family: 'Sofia Sans Condensed', sans-serif;
}
nav{
    width: 98%;
    height: 100%;
    margin: 0 1%;
    display: flex;
    flex-direction: row;
    align-items: center;
    color: rgb(243, 232, 219);
}
nav img{
    width:50%;
    height: 85%;
    margin-left: 5%;
}
.logo{
    width:30%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}
nav ul{
    width: 70%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
}

nav a{
    text-decoration: none;
    color: black;
}
nav li :hover{
    background-color: rgb(243, 232, 219);
    border-radius: 8%;
}
nav li { 
    display: flex;
    padding: 1%;    
    font-size: 1.5em;
    font-weight:300;
} 

main {
    height: 88vh;
    width: 100vw;
    font-family: 'PT Sans', sans-serif;
}

.segundaNav {
    width: 100%;
    height: 18%;
    background-color: rgb(230, 218, 218);
    box-shadow: 3px 8px 5px rgba(57, 3, 3, 0.4) inset;
    font-size: 1.5em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    /* padding-top: 3%; */
    font-style: italic;
    font-weight:bold;
}

.container-flex {
    width: 100%;
    height: 80%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    margin:1% 0;
    
}

.box {
    width: 24vw;
    height: 70%;
    background-color: rgb(230, 218, 218);
    background-image: url(../multimedia/img/chefs.jpg);
    border-radius: 500px;
    background-size: cover;
    background-position: center;
    box-shadow: 3px 3px 3px rgba(221, 28, 28, 0.886)inset;
}

.boxuno {
    width: 24vw;
    height: 70%;
    background-color: rgb(230, 218, 218);
    border-radius: 500px;
    background-image: url(../multimedia/img/comidasdelmundo.jpg);
    background-size: cover;
    background-position: center;
    box-shadow: 3px 3px 3px rgba(221, 28, 28, 0.886) inset;
}

.imagen-cont {
    width: 24vw;
    height: 70%;
    background-color: rgb(230, 218, 218);
    border-radius: 500px;
    background-image: url(../multimedia/img/women-cooking-winter2016.webp);
    background-size: cover;
    background-position: right;
    box-shadow: 3px 3px 3px rgba(221, 28, 28, 0.886) inset;
}

/* .imagen-container {
    
    width: 24vw;
    height:70%;
    background-color: rgb(230, 218, 218);
    border-radius: 500px;
    background-image: url(../multimedia/img/kissi.png);
    background-size: contain;
    background-position: center;
    box-shadow: 3px 3px 3px rgba(221, 28, 28, 0.886) inset;
} */

.tarjeta-texto {
    width: 24vw;
    height: 97%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1%;
    text-align: justify;
    justify-content: flex-start;

}

p {
    padding-top: 2%;
    width: 100%;
    height: 16%;
    /* font-weight:800; */
    margin:0 5%;
    /* font-size: 1em; */
}
span{
    display: none;
}
footer {
    width: 100vw;
    height: 5vh;
    background-color: #8cc63e;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    column-gap: 3%;
   
}
footer>a{
    font-size: 1.3em;
    color:rgba(243, 232, 219, 0.9);
    text-shadow: -5px 1px 2px rgba(0,0,0,0.27);

}
@media screen and (min-width:1361px) {}

@media screen and (min-width:640px) and (max-width:1279px){
    nav li{
        font-size: 1em;
    }
    footer>a{
        font-size: 1em;
        
    }
    .segundaNav{
        font-size: 1em;
    }
    .box{
        height: 60%;
    }

    .boxuno{
        height: 60%;
    }
    .imagen-cont{
        height: 60%;

    }
    p{
        font-size: 10px;
    }
}

@media screen and (min-width:390px) and (max-width:639px){

    header{
        
        height: 14vh;
        
     }
     main{
        height: auto;
     }
    nav{
        position: relative;
        display: flex;
        flex-direction: column;
       
     }
     .logo{
        position: absolute;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 40%;
        top: 2vh;

     }
     nav ul{
        position: absolute;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        margin: 0px;
        top: 3vh;
     }
nav li{
    font-size: 1em;
    padding: 1vh;


}
.segundaNav{
    height:13% ;
}
.container-flex{
    display: grid;
    height: auto;
     row-gap: 1vh;
    top: 1vh;


}
.tarjeta-texto{
    width: 100%;
    
}
.box{
   width: 50vw;
   height: 14vh;
}

.boxuno{
    width: 50vw;
    height: 14vh;
}
.imagen-cont{
    width: 50vw;
    height: 14.5vh;

}
p{
    font-size: 10px;
    width: 70%;
    line-height: 2vh;
}
}
@media screen and (max-width:389px) {
  
    header{
     flex-direction: column;
     height: 60vh;
     width: 100%;
    }
    nav{
     flex-direction: column;
     justify-content: center;
    }
 nav ul{
     flex-direction: column;
 }
 .logo{
     flex-direction: row;
     width: 80%;
     height: 20%;
  
 }
 main{
     height: 15vh;
     display:none;
     width: 100%;
    }
    footer{
     height: 5vh;
     width: 100%;
    }
    span{
        background-color: rgba(233, 12, 12, 0.61);
        color:white;
        visibility: visible;
        display:flex;
        flex-direction: row;
        align-items: center;
        width: 100%;
        height: 20vh;
        text-align: center;
        font-family: 'Sofia Sans Condensed', sans-serif;
      }
 }