*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    /* font-family: 'Sofia Sans Condensed', sans-serif; */
    
}
body{
    width: 100vw;
    height: 100vh;   
    
}
main {

    height: 88vh;
    width: 100vw;

}
/* ESTILO BARRA DE NAVEGACION */
header{
    width: 100vw;
    height: 7vh;
    background-color: #8cc63e;
    font-family: 'Sofia Sans Condensed', sans-serif;
}
nav{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    /* font-family: 'Bree Serif', serif; */
    color: rgb(243, 232, 219);
}
nav img{
    display:flex;
    align-items: center;
    width:50%;
    height: 85%;
    margin-left: 5%;
}
nav ul{
    width: 70%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    margin-right: 2%;
}

nav a{
    text-decoration: none;
    color: black;
}
nav li :hover{
    background-color: rgb(243, 232, 219);
    border-radius: 8%;
}
nav li { 
    display: inline-flex;
    padding: 1%;    
    font-size: 1.5em;
    font-weight:300;
} 

/* ESTILO CUERPO */
main{
    font-family: 'PT Sans', sans-serif;
}
.imagenes{    
    width: 100vw;
    height: 68vh;
    display: inline-flex;
    background-image: url(../multimedia/img/portada.webp);
    background-position: left;
    background-size: cover;
}
.texto{
    
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: rgb(230, 218, 218);
    /* margin:.5% .5%; */
    margin-left:  5px;
    margin-right: 5px;
    margin-bottom: 5px; 
    border: 5px solid black;
    text-align: justify;
    padding: 6px;
    font-weight:600;
   
}
footer{
    width: 100vw;
    height: 5vh;
    background-color:  #8cc63e;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    column-gap: 3%;
    
   }
footer>a{
    font-size: 1em;
    color:black;

}