*{
    margin:0;
    padding: 0;
}

main{
display:flex;
flex-direction: row;
width: 96vw;
height: auto;
padding: 20px;

}
.side_nav{
width: 12%;
height: fit-content;
margin-top: 20px;
text-align: center;
}
.container_content{
    width: 88%;
    padding: 10px;
    border:3px solid black;
}
.selected{
    width: 100%;
    background-color: #A8E827;
    list-style-type: none;
    margin: 2px 0px;
    height: 30px;   
    border-left: 3px solid black;
    border-right: 3px solid #A8E827 !important;
    border-top: 3px solid black;
    border-bottom: 3px solid black;
    position:relative;
    z-index: 10;

}
.unselected{
    width: 100%;
    background-color: lightgray;
    list-style-type: none;
    border: 3px solid black;
   
    height: 30px;   
    margin: 2px 0px;

}
.unselected a{
    text-decoration: none;
}